<div class="category">
    <h3>
        {{ widget.title }}
    </h3>

    <ul class="list-unstyled">
        <li>
            <a href="javascript:;">
                <i class="fa fa-angle-right pr-10">
                </i>
                Animals
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-angle-right pr-10">
                </i>
                Landscape
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-angle-right pr-10">
                </i>
                Portait
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-angle-right pr-10">
                </i>
                Wild Life
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-angle-right pr-10">
                </i>
                Video
            </a>
        </li>
    </ul>
</div>