body {
    font-size: 16px;
}

.container {
    padding-bottom: 0;
}

.feature-box-heading img {
    width: 100%;
}

#main-slider .carousel .item:first-child {
    height: 500px;
}

.feature-box {
    margin-bottom: 70px;
}

.feature-box-heading h4 {
    margin-top: 25px;
}

.footer-address i {
    width: 25px;
}

#bottom {
    font-size: 16px;
}

#bottom .social-link-footer li {
    float: left;
    margin-right: 15px;
}

#bottom .social-link-footer li a {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding-top: 12px;
    text-align: center;
}

.recent_post img,
.picked_post img {
    width: 100px;
}

#footer h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}

#footer ul > li {
    display: block;
    margin-left: 0;
    margin-bottom: 15px;
}

#footer .social-link-footer li {
    float: left;
    margin-right: 20px;
}

#error {
    margin-bottom: 200px;
}

.page {
    margin-top: 50px;
}

.page .img-blog {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}