<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="footer-address">
                    <h3>
                        Contact info
                    </h3>
                    <ul>
                        <li><i class="fa fa-globe pr-10"></i>Ha Noi city, Viet Nam</li>

                        <li><i class="fa fa-mobile pr-10"></i>Mobile : 090 220 9011 </li>

                        <li><i class="fa fa-envelope pr-10"></i>Email : <a href="mailto:cuong@techmaster.vn" target="_top">cuong@techmaster.vn</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-4 col-sm-4">
                <div class="widget">
                    <h3>Support</h3>
                    <ul class="page-footer-list list-unstyle">
                        <li>
                            <a href="http://arrowjs.io/documentation" target="_blank">Document</a>
                        </li>
                        <li>
                            <a href="https://github.com/arrowjs/examples" target="_blank">Examples</a>
                        </li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-4 col-sm-4">
                <div class="widget">
                    <h3>Socials</h3>
                    <ul class="social-link-footer list-unstyled">
                        <li class="" data-wow-duration="2s" data-wow-delay=".1s"><a href="https://www.facebook.com/techmastervn" target="_blank"><i
                                        class="fa fa-facebook fa-lg"></i></a></li>
                        <li class="" data-wow-duration="2s" data-wow-delay=".7s" target="_blank"><a href="https://github.com/arrowjs"><i
                                        class="fa fa-github fa-lg"></i></a></li>
                        <li class="" data-wow-duration="2s" data-wow-delay=".8s" target="_blank"><a href="https://www.youtube.com/user/TechMasterVN"><i
                                        class="fa fa-youtube fa-lg"></i></a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</footer><!--/#footer-->