{% extends '_layout.' + getConfig('viewExtension') %}

{% block content %}
    <div class="big_header jumbotron">
        <div class="container">
            <div class="content">
                <h1>Start Up Your Creative Engine</h1>
                <p>Import all of the StartIt demo content in mere minutes with the one-click import. What are you waiting for? StarIt right now.</p>
                <p><a class="btn btn-primary btn-lg" href="/blog" role="button">Read more</a></p>
            </div>
        </div>
    </div>

    <div class="feature-box">
        <div class="container">
            <div class="row mar-b-50">
                <div class="col-md-12">
                    <div class="text-center feature-head wow fadeInDown">
                        <h1 class="">
                            Create Your Own Genuine Web Masterpiece
                        </h1>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>

                    </div>

                    <div class="row content">
                        <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <a href="/blog">
                                    <img src="/frontend/acme/assets/img/1.jpg" alt="">

                                </a>
                                <h4>
                                    <b>Inventive Elements</b>
                                </h4>
                            </div>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <a href="/blog">
                                    <img src="/frontend/acme/assets/img/2.jpg" alt="">
                                </a>
                                <h4>
                                    <b>Designed With care</b>
                                </h4>
                            </div>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <a href="/blog">
                                    <img src="/frontend/acme/assets/img/3.jpg" alt="">
                                </a>
                                <h4>
                                    <b>Imagine and Create</b>
                                </h4>
                            </div>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                            </p>
                        </div>
                    </div>

                    <!--feature end-->
                </div>
            </div>
        </div>
    </div>


    <!--property start-->
    <div class="parallax_content jumbotron">
        <div class="container content">
            <h2>What Are You Waiting For?</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
            <p><a class="btn btn-primary btn-lg" href="/blog" role="button">Read more</a></p>
        </div>
    </div>
    <!--property end-->

    <div class="home-services text-center">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Design the Web in Your Image</h2>
                </div>

                <div class="col-md-4">
                    <div class="service">
                        <div class="out_line">
                            <span class="icon_service">
                                <a href="http://techmaster.vn/posts">
                                    <i class="fa fa-pencil fa-3x"></i>
                                </a>
                            </span>
                        </div>
                        <div class="service-content wow fadeInUp">
                            <h4>
                                <b>Sketch</b>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim  laborum.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service">
                        <div class="out_line">
                            <span class="icon_service">
                                <a href="http://techmaster.vn/posts">
                                    <i class="fa fa-laptop fa-3x"></i>
                                </a>
                            </span>
                        </div>
                        <div class="service-content wow fadeInUp">
                            <h4>
                                <b>Design</b>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim  laborum.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service">
                        <div class="out_line">
                            <span class="icon_service">
                                <a href="http://techmaster.vn/posts">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </a>
                            </span>
                        </div>
                        <div class="service-content wow fadeInUp">
                            <h4>
                                <b>Test</b>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim  laborum.
                            </p>
                        </div>
                    </div>
                </div>

            <!-- /row -->
            </div>
        <!-- /container -->
         </div>

    </div>
    <!-- service end -->
    <div class="manager_system clearfix">
        <div class="col-4">
            <a href="http://techmaster.vn/khoa-hoc">
                <img src="/frontend/acme/assets/img/p-app-update-and-rebrand-800x600.jpg" alt=""/>
            </a>
        </div>

        <div class="col-4">
            <a href="http://techmaster.vn/posts/33583/thuc-tap-lap-trinh-web-mobile">
                <img src="/frontend/acme/assets/img/p-new-trends-in-seo-and-analytics-800x600.jpg" alt=""/>
            </a>
        </div>

        <div class="col-4">
            <a href="https://www.youtube.com/user/TechMasterVN">
                <img src="/frontend/acme/assets/img/p-office-management-systems-800x600.jpg" alt=""/>
            </a>
        </div>

        <div class="col-4">
            <a href="http://techmaster.vn/">
                <img src="/frontend/acme/assets/img/p-the-tablet-app-of-the-future-800x600.jpg" alt=""/>
            </a>
        </div>
    </div>


{% endblock %}

{% block jsExtends %}
    <script type="text/javascript" src="/frontend/acme/assets/libs/bxslider/jquery.bxslider.js"></script>
    <script src="/frontend/acme/assets/libs/owlcarousel/owl.carousel.js"></script>
{% endblock %}
