{% extends '_layout.' + getConfig('viewExtension') %}

{% block content %}
    <div class="big_header jumbotron">
        <div class="container">
            <div class="content text-center">
                <h1><img src="/frontend/acme/assets/img/arrowjs_logo.png" alt="" style="width: 200px; height: 200px"/></h1>
                <p class="text-center">An opensource CMS written in Javascript</p>
            </div>
        </div>
    </div>

    {#<div class="home-services text-center">#}

        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<h2>Design the Web in Your Image</h2>#}
                {#</div>#}

                {#<div class="col-md-4">#}
                    {#<div class="service">#}
                        {#<div class="out_line">#}
                            {#<span class="icon_service">#}
                                {#<a href="http://techmaster.vn/posts">#}
                                    {#<i class="fa fa-pencil fa-3x"></i>#}
                                {#</a>#}
                            {#</span>#}
                        {#</div>#}
                        {#<div class="service-content wow fadeInUp">#}
                            {#<h4>#}
                                {#<b>Simple Code</b>#}
                            {#</h4>#}
                            {#<p>#}
                                {#Hệ thống được chia tách thành module có tính tái sử dụng cao, bên cạch đó còn có hệ thống theme, widget, plugin phong phú cho bạn tùy ý lựa chọn.#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-4">#}
                    {#<div class="service">#}
                        {#<div class="out_line">#}
                            {#<span class="icon_service">#}
                                {#<a href="http://techmaster.vn/posts">#}
                                    {#<i class="fa fa-rocket fa-3x"></i>#}
                                {#</a>#}
                            {#</span>#}
                        {#</div>#}
                        {#<div class="service-content wow fadeInUp">#}
                            {#<h4>#}
                                {#<b>Nodejs 4.0</b>#}
                            {#</h4>#}
                            {#<p>#}
                                {#Được phát triển từ những phiên bản đầu của nodejs và iojs. Cập nhật liên tục theo từng phiên bản. Ứng dụng của bạn hoàn toàn tương thích với phiên bản mới nhất 4.0#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-4">#}
                    {#<div class="service">#}
                        {#<div class="out_line">#}
                            {#<span class="icon_service">#}
                                {#<a href="http://techmaster.vn/posts">#}
                                    {#<i class="fa fa-leaf fa-3x"></i>#}
                                {#</a>#}
                            {#</span>#}
                        {#</div>#}
                        {#<div class="service-content wow fadeInUp">#}
                            {#<h4>#}
                                {#<b>PostgreSQL</b>#}
                            {#</h4>#}
                            {#<p>#}
                                {#Tính tùy biến cao, thích hợp cho ứng dụng từ đơn giản đến phức tạp. Hỗ trợ dữ liệu dạng json, dữ liệu không gian với PostGis...#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-4">#}
                    {#<div class="service">#}
                        {#<div class="out_line">#}
                            {#<span class="icon_service">#}
                                {#<a href="http://techmaster.vn/posts">#}
                                    {#<i class="fa fa-hdd-o fa-3x"></i>#}
                                {#</a>#}
                            {#</span>#}
                        {#</div>#}
                        {#<div class="service-content wow fadeInUp">#}
                            {#<h4>#}
                                {#<b>Memory caching</b>#}
                            {#</h4>#}
                            {#<p>#}
                                {#Hỗ trợ cơ chế cache trong memory sử dụng Redis giúp giảm thời gian phản hồi của trang web#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-4">#}
                    {#<div class="service">#}
                        {#<div class="out_line">#}
                            {#<span class="icon_service">#}
                                {#<a href="http://techmaster.vn/posts">#}
                                    {#<i class="fa fa-eye fa-3x"></i>#}
                                {#</a>#}
                            {#</span>#}
                        {#</div>#}
                        {#<div class="service-content wow fadeInUp">#}
                            {#<h4>#}
                                {#<b>Custom layout</b>#}
                            {#</h4>#}
                            {#<p>#}
                                {#Hỗ trợ sẵn 2 layout AdminLTE cho backend và ACME cho frontend. Dễ dàng chuyển đổi các giao diện khác để tương thích với hệ thống ArrowCMS#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-4">#}
                    {#<div class="service">#}
                        {#<div class="out_line">#}
                            {#<span class="icon_service">#}
                                {#<a href="http://arrowjs.io/">#}
                                    {#<i class="fa fa-user fa-3x"></i>#}
                                {#</a>#}
                            {#</span>#}
                        {#</div>#}
                        {#<div class="service-content wow fadeInUp">#}
                            {#<h4>#}
                                {#<b>Easy to use</b>#}
                            {#</h4>#}
                            {#<p>#}
                                {#Hệ thống quản lý đơn giản, dễ sử dụng. Hỗ trợ sẵn các tính năng phân quyền, tạo user, cấu hình hệ thống .v.v.#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<!-- /row -->#}
            {#</div>#}
            {#<!-- /container -->#}
        {#</div>#}

    {#</div>#}

    <div class="feature-box">
        <div class="container">
            <div class="row mar-b-50">
                <div class="col-md-12">
                    <div class="text-center feature-head wow fadeInDown">
                        <h1 class="">
                            Our Company
                        </h1>

                    </div>

                    <div class="row content">
                        <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <a href="/blog">
                                    <img src="/frontend/acme/assets/img/TechmasterSlider6.png" alt="">

                                </a>
                                <h4>
                                    <b>Techmaster</b>
                                </h4>
                            </div>
                            <p class="text-center">
                                TechMaster là trung tâm đào tạo công nghệ thông tin được thành lập bởi nhóm chuyên gia CNTT, lập trình viên có nhiều năm kinh nghiệm làm việc tại tập đoàn Microsoft.
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <a href="/blog">
                                    <img src="/frontend/acme/assets/img/TechmasterSlider4.png" alt="">
                                </a>
                                <h4>
                                    <b>Đào tạo</b>
                                </h4>
                            </div>
                            <p class="text-center">
                                Đối với sinh viên, phương pháp đào tạo của TechMaster gây thích thú vì những bài giảng thực tế, khuyên khích sự sáng tạo, dám nghĩ dám làm của sinh viên.
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <a href="/blog">
                                    <img src="/frontend/acme/assets/img/TechmasterSlider8.png" alt="">
                                </a>
                                <h4>
                                    <b>Hoạt động ngoại khóa</b>
                                </h4>
                            </div>
                            <p class="text-center">
                                Đi tham quan, chơi thể thao là hoạt động được Techmaster thường xuyên tổ chức nhân viên lập trình và các học viên thực tập dài hạn.
                            </p>
                        </div>
                    </div>

                    <!--feature end-->
                </div>
            </div>
        </div>
    </div>


    {#<!--property start-->#}
    {#<div class="parallax_content jumbotron">#}
        {#<div class="container content">#}
            {#<h2>What Are You Waiting For?</h2>#}
            {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>#}
            {#<p><a class="btn btn-primary btn-lg" href="/blog" role="button">Read more</a></p>#}
        {#</div>#}
    {#</div>#}
    {#<!--property end-->#}

    <!-- service end -->
    {#<div class="manager_system clearfix">#}
        {#<div class="col-4">#}
            {#<a href="http://techmaster.vn/khoa-hoc">#}
                {#<img src="/frontend/acme/assets/img/TechmasterSlider7.png" alt=""/>#}
            {#</a>#}
        {#</div>#}

        {#<div class="col-4">#}
            {#<a href="http://techmaster.vn/posts/33583/thuc-tap-lap-trinh-web-mobile">#}
                {#<img src="/frontend/acme/assets/img/TechmasterSlider14.png" alt=""/>#}
            {#</a>#}
        {#</div>#}

        {#<div class="col-4">#}
            {#<a href="https://www.youtube.com/user/TechMasterVN">#}
                {#<img src="/frontend/acme/assets/img/TechmasterSlider3.png" alt=""/>#}
            {#</a>#}
        {#</div>#}

        {#<div class="col-4">#}
            {#<a href="http://techmaster.vn/">#}
                {#<img src="/frontend/acme/assets/img/TechmasterSlider4.png" alt=""/>#}
            {#</a>#}
        {#</div>#}
    {#</div>#}


{% endblock %}

{% block jsExtends %}
    <script type="text/javascript" src="/frontend/acme/assets/libs/bxslider/jquery.bxslider.js"></script>
    <script src="/frontend/acme/assets/libs/owlcarousel/owl.carousel.js"></script>
{% endblock %}
