{% extends '_layout.' + getConfig('viewExtension') %}

{% block cssExtends %}
    <link href="/frontend/acme/assets/css/terminal.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <section class="terminal-window">
            <div class="title-bar text-center">Arrowjs Generator - Bash</div>
            <div class="terminal">
                <div class="history"></div>
                $&nbsp;<span class="prompt"></span>
                <span class="typed-cursor"></span>
            </div>
        </section>
    </div>

    <div class="feature-box">
        <div class="container">
            <div class="row mar-b-50">
                <div class="col-md-12">
                    <div class="text-center feature-head wow fadeInDown">
                        <h1>Features</h1>
                    </div>

                    <div class="row content">
                        <div class="col-md-3 col-sm-3 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <i class="fa fa-rocket fa-3x"></i>

                                <h4>
                                    <b>
                                        Fast
                                    </b>
                                </h4>
                            </div>

                            <p class="">
                                Faster than Mean.js, Sails.js
                            </p>
                            <p class="">
                                Scale out: Nginx + Node.js
                            </p>
                            <p class="">
                                Caching HTML output using Redis
                            </p>
                            <p class="">
                                Precompile template
                            </p>
                            <p>
                                100% use Promise - Bluebird
                            </p>
                        </div>

                        <div class="col-md-3 col-sm-3 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <i class="fa fa-dashboard fa-3x"></i>
                                <h4>
                                    <b>
                                        Reactive
                                    </b>
                                </h4>
                            </div>
                            <p class="">
                                Integrate Socket.io
                            </p>
                            <p class="">
                                Support Facebook React
                            </p>
                            <p class="">
                                Callback notify long run task
                            </p>
                        </div>

                        <div class="col-md-3 col-sm-3 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <i class="fa fa-eye fa-3x"></i>
                                <h4>
                                    <b>
                                        Theme
                                    </b>
                                </h4>
                            </div>
                            <p class="">
                                Switch themes on fly
                            </p>
                            <p class="">
                                Easy to convert from WordPress, Joomla
                            </p>
                            <p class="">
                                Nunjucks advanced features
                            </p>
                            <p class="">
                                Highlight template syntax in IDE
                            </p>
                        </div>

                        <div class="col-md-3 col-sm-3 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <i class="fa fa-sitemap fa-3x"></i>
                                <h4>
                                    <b>
                                        Microservice
                                    </b>
                                </h4>
                            </div>
                            <p class="">
                                Loosely coupling features
                            </p>
                            <p class="">
                                Support ActionHero, Seneca, Restify
                            </p>
                            <p class="">
                                Flexible, multi targets logging
                            </p>
                            <p class="">
                                Support ZeroMQ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsExtends %}
    <script type="text/javascript" src="/frontend/acme/assets/libs/typedjs/dist/typed.min.js"></script>
    <script type="text/javascript" src="/frontend/acme/assets/js/terminal.js"></script>
{% endblock %}
