{% extends '_layout.' + getConfig('viewExtension') %}

{% block content %}
    <div class="container">
        <div class="row mar-b-50">
            <div class="col-md-12">
                <div class="text-center feature-head wow fadeInDown">
                    <h1 class="">
                        welcome to Acme
                    </h1>
                </div>

                <div class="feature-box">
                    <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                        <div class="feature-box-heading">
                            <em>
                                <img src="/frontend/acme/assets/img/1.png" alt="" width="100" height="100">
                            </em>
                            <h4>
                                <b>Multipurpose Template</b>
                            </h4>
                        </div>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam
                            unde nostrudlaboris.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                        <div class="feature-box-heading">
                            <em>
                                <img src="/frontend/acme/assets/img/2.png" alt="" width="100" height="100">
                            </em>
                            <h4>
                                <b>Well Documented</b>
                            </h4>
                        </div>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam
                            unde nostrudlaboris.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                        <div class="feature-box-heading">
                            <em>
                                <img src="/frontend/acme/assets/img/3.png" alt="" width="100" height="100">
                            </em>
                            <h4>
                                <b>Responsive Design</b>
                            </h4>
                        </div>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam
                            unde nostrudlaboris.
                        </p>
                    </div>
                </div>

                <!--feature end-->
            </div>
        </div>
    </div>

    <div class="property gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
                    <img src="/frontend/acme/assets/img/tab1.png" alt="">
                </div>
                <div class="col-lg-6 col-sm-6 wow fadeInRight">
                    <h1>
                        Mobile ready
                    </h1>
                    <hr>
                    <p>
                        <i class="fa fa-check fa-lg pr-10">
                        </i>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantiu.
                    </p>
                    <p>
                        <i class="fa fa-check fa-lg pr-10">
                        </i>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantiu.
                    </p>
                    <p>
                        <i class="fa fa-check fa-lg pr-10">
                        </i>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.
                    </p>
                    <hr>
                    <a href="javascript:;" class="btn btn-purchase">
                        Purchase now
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsExtends %}
    <script type="text/javascript" src="/frontend/acme/assets/libs/bxslider/jquery.bxslider.js"></script>
    <script src="/frontend/acme/assets/libs/owlcarousel/owl.carousel.js"></script>
{% endblock %}
