{% extends '_layout.' + getConfig('viewExtension') %}

{% block cssExtends %}
    <link href="/frontend/corlate/assets/css/terminal.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <section class="terminal-window">
            <div class="title-bar text-center">Arrowjs Generator - Bash</div>
            <div class="terminal">
                <div class="history"></div>
                $&nbsp;<span class="prompt"></span>
                <span class="typed-cursor"></span>
            </div>
        </section>
    </div>

    <div class="feature-box">
        <div class="container">
            <div class="row mar-b-50">
                <div class="col-md-12">
                    <div class="text-center feature-head wow fadeInDown">
                        <h1>Features</h1>
                    </div>

                    <div class="row content">
                        <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <a href="http://techmaster.vn/trungtam/Trung-tam" target="_blank">
                                    <i class="fa fa-database fa-3x"></i>
                                </a>

                                <h4>
                                    <b>
                                        <a href="http://techmaster.vn/trungtam/Trung-tam" target="_blank">
                                            Postgres
                                        </a>
                                    </b>
                                </h4>
                            </div>

                            <p class="text-center">
                                Tính tùy biến cao, thích hợp cho ứng dụng từ đơn giản đến phức tạp. Hỗ trợ dữ liệu dạng json, dữ liệu không gian với PostGis...
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <a href="http://techmaster.vn/khoa-hoc" target="_blank">
                                    <i class="fa fa-dashboard fa-3x"></i>
                                </a>
                                <h4>
                                    <b>
                                        <a href="http://techmaster.vn/khoa-hoc" target="_blank">
                                            Dynamic Router
                                        </a>
                                    </b>
                                </h4>
                            </div>
                            <p class="text-center">
                                Kế thừa từ Express Route, hỗ trợ phân quyền tới từng route giúp tăng tính bảo mật cho ứng dụng của bạn
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <a href="http://techmaster.vn/trungtam/team-building-royal-city" target="_blank">
                                    <i class="fa fa-eye fa-3x"></i>
                                </a>
                                <h4>
                                    <b>
                                        <a href="http://techmaster.vn/trungtam/team-building-royal-city"
                                           target="_blank">
                                            Custom layout
                                        </a>
                                    </b>
                                </h4>
                            </div>
                            <p class="text-center">
                                Hỗ trợ sẵn 2 layout AdminLTE cho backend và ACME cho frontend. Dễ dàng chuyển đổi các giao diện khác để tương thích với hệ thống ArrowCMS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsExtends %}
    <script type="text/javascript" src="/frontend/corlate/assets/js/typed.min.js"></script>
    <script type="text/javascript" src="/frontend/corlate/assets/js/terminal.js"></script>
{% endblock %}
