<div class="category">
    <h3>
        {{ widget.title }}
    </h3>

    <ul class="list-unstyled">
        {% for category in categories %}
            <li>
                <a href="/blog/posts/categories/{{ category.alias }}/{{ category.id }}">
                    <i class="fa fa-angle-right pr-10"></i> {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>