{% extends '_layout.twig' %}

{% block cssExtends %}
    <link href="/themes/backend/adminLTE/assets/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
<body class="login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>{{ __('t_backend_default_admin') }}</b></a>
    </div>

    <div class="login-box-body">
        <div style="margin-left: -10px; margin-right: -10px;">
            {% include '_messages.twig' %}
        </div>

        <form class="forget-form" action="" method="post">
            <p>{{ __('t_backend_default_forgot_password_forget_form_p') }}</p>

            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email"
                       name="email"/>
            </div>

            <div class="form-actions">
                <button type="button" onclick="backToLogin()" id="back-btn" class="btn btn-default btn-flat">
                    {{ __('back') }}
                </button>
                <button type="submit" class="btn btn-primary btn-flat uppercase pull-right">
                    {{ __('submit') }}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block jsExtends %}
    <script>
        function backToLogin() {
            window.location.href = '/admin/login/';
        }
    </script>
{% endblock %}

