<div class="fb-like" data-href=""
     data-layout="{{ widget.layout_type }}"
     data-action="{{ widget.action_type }}"
     data-colorscheme="{{ widget.color_scheme }}"
     data-show-faces="{% if widget.show_friend_faces %}true{% else %}false{% endif %}"
     data-share="{% if widget.include_share_button %}true{% else %}false{% endif %}">
</div>