.big_header {
    background: url("/frontend/acme/assets/img/home_main_bg.jpg") center center;
    background-size: cover;
    height: 600px;
    padding-top: 100px;
}

.big_header .content {
    width: 65%;
}

.big_header h1 {
    margin-bottom: 25px;
}

.big_header p {
    margin-bottom: 15px;
}

.feature-box {
    padding-top: 20px;
    padding-bottom: 35px;
}

.feature-box .content p {
    text-align: center;
}

.feature-box .content img {
    width: 100%;
}

.parallax_content {
    height: 470px;
    background: url("/frontend/acme/assets/img/home_parallax_bg.jpg") center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
}

.parallax_content h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.parallax_content .content {
    width: 70%;
}

.jumbotron {
    color: #fff;
}

.jumbotron p {
    font-size: 20px;
}

.parallax_content h2,
.parallax_content p {
    text-align: center;
    color: #fff;
}

.recent_post .feature_image,
.picked_post .feature_image {
    width: 35%;
}

.recent_post .feature_image img,
.picked_post .feature_image img {
    width: 100%;
}

.home-services {
    padding-top: 60px;
    padding-bottom: 100px;
}

.home-services h2 {
    text-transform: uppercase;
    margin-bottom: 55px;
}

.home-services .service-content p {
    text-align: center;
}

.home-services .icon_service {
    color: #fff;
    text-align: center;
    padding-top: 25px;
    background: #797979;
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.home-services .icon_service:hover {
    background: #48cfad;
}

.feature-box h4,
.home-services h4 {
    margin-top: 25px;
    margin-bottom: 25px;
}


.manager_system .col-4 {
    width: 25%;
    float: left
}

.manager_system img {
    width: 100%;
}