<div class="form-group">
    <label for="tracking_code">Tracking code</label>
    <textarea class="form-control" name="tracking_code" id="tracking_code" rows="12" >{{ plugin.tracking_code }}</textarea>
</div>
