<div class="recent_post">
    <h3>
        {{ widget.title }}
    </h3>

    <ul class="list-unstyled">
        {% for post in posts %}
        <li>
            <a href="/blog/{{ post.id }}/{{ post.alias }}">
                <i class="fa fa-angle-right pr-10"></i> {{ post.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>