{% extends '_layout.' + getConfig('viewExtension') %}

{% block title %}500, Internal server error{% endblock %}

{% block content %}
    <section id="error" class="container text-center">
        <h1>500, Internal Server Error</h1>

        <p class="text-center">Please come back later.</p>
    </section>
{% endblock %}