{% extends '_layout.' + getConfig('viewExtension') %}

{% block title %}500, Internal server error{% endblock %}

{% block content %}
    <section id="error" class="container text-center">
        <div class="container  error-inner wow flipInX animated" data-wow-animation-name="flipInX"
             style="visibility: visible; animation-name: flipInX;">
            <h1>500, Internal Server Error</h1>

            <p class="text-center">Please come back later.</p>
        </div>
    </section>
{% endblock %}