<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                <h1>
                    contact info
                </h1>
                <address>
                    <p><i class="fa fa-globe pr-10"></i>Ha Noi city, Viet Nam</p>

                    <p><i class="fa fa-mobile pr-10"></i>Mobile : 090 220 9011 </p>

                    <p><i class="fa fa-envelope pr-10"></i>Email : <a href="mailto:cuong@techmaster.vn" target="_top">cuong@techmaster.vn</a></p>
                </address>
            </div>
            <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                <h1>Support</h1>

                <ul class="page-footer-list">
                    <li>
                        <a href="http://arrowjs.io/documentation" target="_blank">Documents</a>
                    </li>
                    <li>
                        <a href="https://github.com/arrowjs/examples" target="_blank">Examples</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="text-widget-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">
                    <h1>Socials</h1>
                    <ul class="social-link-footer list-unstyled">
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s"><a href="https://www.facebook.com/techmastervn" target="_blank"><i
                                        class="fa fa-facebook"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".7s"><a href="https://github.com/arrowjs" target="_blank"><i
                                        class="fa fa-github"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".8s"><a href="https://www.youtube.com/user/TechMasterVN" target="_blank"><i
                                        class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer class="footer-small">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p class="text-center">&copy; Copyright - Techmaster</p>
                </div>
            </div>
        </div>
    </div>
</footer>