<header class="head-section">
    <div class="navbar navbar-default navbar-static-top container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/">
                <span class="icon_logo"><i class="fa fa-heart"></i></span>
                <span class="text_logo">ArrowJs</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            {{ getSidebar("main-menu") | async | safe }}
        </div>
    </div>
</header>