{#<div class="category">#}
    {#<h3>#}
        {#{{ widget.title }}#}
    {#</h3>#}

    {#<ul class="list-unstyled">#}
        {#<li>#}
            {#<a href="/category/{{ category.alias }}/{{ category.id }}">#}
                {#<i class="fa fa-angle-right pr-10">#}
                {#</i>#}
                {#Animals#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
{#</div>#}