<div class="widget categories">
    <h3>
        {{ widget.title }}
    </h3>

    <div class="row">
        <div class="col-sm-6">
            <ul class="blog_category">
                {% for category in categories %}
                    <li>
                        <a href="/blog/posts/categories/{{ category.alias }}/{{ category.id }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>