{% extends '_layout.twig' %}

{% block content %}
    <div id="primary" class="content-area col-sm-12 col-md-8 pull-left">
        <main id="main" class="site-main" role="main">
            Base view
        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}